{#La siguiente linea hereda el template base.html#}
{% extends 'base.html' %}
{% load static %}
 {% block content%}

     <div class="col">
       <!-- Este es un comentario de HTML -->
       {#Este es un comentario de DJANGO, mejor usar este#}
       <h1>{{ message }}</h1>
       <ul class="list-group">
         {%for product in products%}
            <li class="list-group-item">{{product.title}}
              <span class="text-success"> ${{product.price}}</span>
            </li>
         {%endfor%}
       </ul>
       <img src="{% static 'images/mochila.png'%}" alt="Imagen de mochila">
     </div>
 {% endblock %}
